@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#accessibilik a {
  bottom: 50%;
}

@layer base {
  h1 {
    @apply text-3xl font-bold mb-4;
  }
  h2 {
    @apply text-2xl font-semibold mb-4;
  }
  h3 {
    @apply text-xl font-semibold mb-3;
  }
  h4 {
    @apply text-lg font-semibold;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }
  p {
    @apply text-sm;
  }
}

@layer components {
  .content {
    @apply container max-w-screen-xl !px-6;
  }
  .content-small {
    @apply container max-w-screen-lg !px-6;
  }
  .gradient-primary {
    @apply bg-gradient-to-tr from-primary to-primary-700;
  }
  .gradient-warning {
    @apply bg-gradient-to-tr from-orange-500 to-warning-500;
  }
  .gradient-success {
    @apply bg-gradient-to-tr from-success-500 to-success-700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
